.cityList {
  text-align: center;
}

.cityInfo, h3 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #226666;
  font-size: 1em;
}
.cityToday {
  width: 50%;
  float: left;
}
.cityTomorrow {
  width: 50%;
  float: right;
}
.cityName {
  font-family: 'Playfair Display', serif;
  color: #AA3939;
  font-size: 1em;
}
